<a href="https://colab.research.google.com/github/darshanja/tapas/blob/master/sqa_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clone and install the repository

In [ ]:
! git clone https://github.com/google-research/tapas.git

Cloning into 'tapas'...
remote: Enumerating objects: 172, done.
remote: Counting objects: 100% (172/172), done.
remote: Compressing objects: 100% (122/122), done.
remote: Total 172 (delta 72), reused 141 (delta 43), pack-reused 0
Receiving objects: 100% (172/172), 180.64 KiB | 518.00 KiB/s, done.
Resolving deltas: 100% (72/72), done.

In [ ]:
! pip install ./tapas

Processing ./tapas
Collecting apache-beam[gcp]==2.20.0
  Downloading https://files.pythonhosted.org/packages/4b/0d/0979ad626578a52887f7df60492ac6759089a9da261ac4c88b112b3f6a5a/apache_beam-2.20.0-cp36-cp36m-manylinux1_x86_64.whl (3.5MB)
     |████████████████████████████████| 3.5MB 2.7MB/s
Collecting frozendict==1.2
  Downloading https://files.pythonhosted.org/packages/4e/55/a12ded2c426a4d2bee73f88304c9c08ebbdbadb82569ebdd6a0c007cfd08/frozendict-1.2.tar.gz
Requirement already satisfied: pandas~=1.0.0 in /usr/local/lib/python3.6/dist-packages (from tapas==0.0.1.dev0) (1.0.5)
Requirement already satisfied: scikit-learn~=0.22.1 in /usr/local/lib/python3.6/dist-packages (from tapas==0.0.1.dev0) (0.22.2.post1)
Requirement already satisfied: tensorflow~=2.2.0 in /usr/local/lib/python3.6/dist-packages (from tapas==0.0.1.dev0) (2.2.0)
Collecting tf-models-official~=2.2.0
  Downloading https://files.pythonhosted.org/packages/77/74/14ec628a5be6ef83b95aaddbbc2d19277fb8d3d497188b615ac1377d1bfc/tf_models_official-2.2.1-py2.py3-none-any.whl (711kB)
     |████████████████████████████████| 716kB 20.8MB/s
Requirement already satisfied: tensorflow-probability==0.10.0 in /usr/local/lib/python3.6/dist-packages (from tapas==0.0.1.dev0) (0.10.0)
Collecting tf_slim~=1.1.0
  Downloading https://files.pythonhosted.org/packages/02/97/b0f4a64df018ca018cc035d44f2ef08f91e2e8aa67271f6f19633a015ff7/tf_slim-1.1.0-py2.py3-none-any.whl (352kB)
     |████████████████████████████████| 358kB 30.7MB/s
Requirement already satisfied: dataclasses~=0.7 in /usr/local/lib/python3.6/dist-packages (from tapas==0.0.1.dev0) (0.7)
Collecting fastavro<0.22,>=0.21.4
  Downloading https://files.pythonhosted.org/packages/e1/28/0206330c0002b1e28e21473117d0dc813defbd5891562d27af5c68c93899/fastavro-0.21.24-cp36-cp36m-manylinux1_x86_64.whl (1.2MB)
     |████████████████████████████████| 1.2MB 38.8MB/s
Requirement already satisfied: crcmod<2.0,>=1.7 in /usr/local/lib/python3.6/dist-packages (from apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (1.7)
Collecting dill<0.3.2,>=0.3.1.1
  Downloading https://files.pythonhosted.org/packages/c7/11/345f3173809cea7f1a193bfbf02403fff250a3360e0e118a1630985e547d/dill-0.3.1.1.tar.gz (151kB)
     |████████████████████████████████| 153kB 39.5MB/s
Requirement already satisfied: grpcio<2,>=1.12.1 in /usr/local/lib/python3.6/dist-packages (from apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (1.30.0)
Requirement already satisfied: future<1.0.0,>=0.16.0 in /usr/local/lib/python3.6/dist-packages (from apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (0.16.0)
Requirement already satisfied: numpy<2,>=1.14.3 in /usr/local/lib/python3.6/dist-packages (from apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (1.18.5)
Requirement already satisfied: pymongo<4.0.0,>=3.8.0 in /usr/local/lib/python3.6/dist-packages (from apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (3.10.1)
Requirement already satisfied: python-dateutil<3,>=2.8.0 in /usr/local/lib/python3.6/dist-packages (from apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (2.8.1)
Requirement already satisfied: typing-extensions<3.8.0,>=3.7.0 in /usr/local/lib/python3.6/dist-packages (from apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (3.7.4.2)
Collecting oauth2client<4,>=2.0.1
  Downloading https://files.pythonhosted.org/packages/c0/7b/bc893e35d6ca46a72faa4b9eaac25c687ce60e1fbe978993fe2de1b0ff0d/oauth2client-3.0.0.tar.gz (77kB)
     |████████████████████████████████| 81kB 8.8MB/s
Requirement already satisfied: protobuf<4,>=3.5.0.post1 in /usr/local/lib/python3.6/dist-packages (from apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (3.12.2)
Collecting avro-python3!=1.9.2,<1.10.0,>=1.8.1; python_version >= "3.0"
  Downloading https://files.pythonhosted.org/packages/5a/80/acd1455bea0a9fcdc60a748a97dcbb3ff624726fb90987a0fc1c19e7a5a5/avro-python3-1.9.2.1.tar.gz
Collecting hdfs<3.0.0,>=2.1.0
  Downloading https://files.pythonhosted.org/packages/82/39/2c0879b1bcfd1f6ad078eb210d09dbce21072386a3997074ee91e60ddc5a/hdfs-2.5.8.tar.gz (41kB)
     |████████████████████████████████| 51kB 6.5MB/s
Collecting httplib2<=0.12.0,>=0.8
  Downloading https://files.pythonhosted.org/packages/ce/ed/803905d670b52fa0edfdd135337e545b4496c2ab3a222f1449b7256eb99f/httplib2-0.12.0.tar.gz (218kB)
     |████████████████████████████████| 225kB 28.6MB/s
Collecting mock<3.0.0,>=1.0.1
  Downloading https://files.pythonhosted.org/packages/e6/35/f187bdf23be87092bd0f1200d43d23076cee4d0dec109f195173fd3ebc79/mock-2.0.0-py2.py3-none-any.whl (56kB)
     |████████████████████████████████| 61kB 7.4MB/s
Requirement already satisfied: pydot<2,>=1.2.0 in /usr/local/lib/python3.6/dist-packages (from apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (1.3.0)
Collecting pyarrow<0.17.0,>=0.15.1; python_version >= "3.0" or platform_system != "Windows"
  Downloading https://files.pythonhosted.org/packages/00/d2/695bab1e1e7a4554b6dbd287d55cca096214bd441037058a432afd724bb1/pyarrow-0.16.0-cp36-cp36m-manylinux2014_x86_64.whl (63.1MB)
     |████████████████████████████████| 63.2MB 43kB/s
Requirement already satisfied: pytz>=2018.3 in /usr/local/lib/python3.6/dist-packages (from apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (2018.9)
Collecting google-cloud-videointelligence<1.14.0,>=1.8.0; extra == "gcp"
  Downloading https://files.pythonhosted.org/packages/bb/bd/9945e21aace32bc45a17b65944b5cd20efb7370985d8984425831a47ca22/google_cloud_videointelligence-1.13.0-py2.py3-none-any.whl (177kB)
     |████████████████████████████████| 184kB 40.9MB/s
Collecting google-cloud-datastore<1.8.0,>=1.7.1; extra == "gcp"
  Downloading https://files.pythonhosted.org/packages/d0/aa/29cbcf8cf7d08ce2d55b9dce858f7c632b434cb6451bed17cb4275804217/google_cloud_datastore-1.7.4-py2.py3-none-any.whl (82kB)
     |████████████████████████████████| 92kB 10.4MB/s
Collecting google-cloud-dlp<=0.13.0,>=0.12.0; extra == "gcp"
  Downloading https://files.pythonhosted.org/packages/24/65/c74f730d5c08affdb056250e601f77c54c0f7c13dfd1c865e02f98b4e7b4/google_cloud_dlp-0.13.0-py2.py3-none-any.whl (151kB)
     |████████████████████████████████| 153kB 40.1MB/s
Requirement already satisfied: google-cloud-core<2,>=0.28.1; extra == "gcp" in /usr/local/lib/python3.6/dist-packages (from apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (1.0.3)
Collecting google-cloud-language<2,>=1.3.0; extra == "gcp"
  Downloading https://files.pythonhosted.org/packages/ba/b8/965a97ba60287910d342623da1da615254bded3e0965728cf7fc6339b7c8/google_cloud_language-1.3.0-py2.py3-none-any.whl (83kB)
     |████████████████████████████████| 92kB 11.2MB/s
Collecting google-cloud-bigtable<1.1.0,>=0.31.1; extra == "gcp"
  Downloading https://files.pythonhosted.org/packages/95/af/0ef7d097a1d5ad0c843867600e86de915e8ab8864740f49a4636cfb51af6/google_cloud_bigtable-1.0.0-py2.py3-none-any.whl (232kB)
     |████████████████████████████████| 235kB 42.6MB/s
Collecting cachetools<4,>=3.1.0; extra == "gcp"
  Downloading https://files.pythonhosted.org/packages/2f/a6/30b0a0bef12283e83e58c1d6e7b5aabc7acfc4110df81a4471655d33e704/cachetools-3.1.1-py2.py3-none-any.whl
Collecting google-cloud-vision<0.43.0,>=0.38.0; extra == "gcp"
  Downloading https://files.pythonhosted.org/packages/eb/23/6d5a728333ce568fb484d0d7edd0b7c04b16cf6325af31d957eb51ed077d/google_cloud_vision-0.42.0-py2.py3-none-any.whl (435kB)
     |████████████████████████████████| 440kB 37.9MB/s
Collecting google-cloud-spanner<1.14.0,>=1.13.0; extra == "gcp"
  Downloading https://files.pythonhosted.org/packages/9e/39/c5e470bf59ce15716490bea1945e2c03b4f08f2153285f19dc6f9337b9e9/google_cloud_spanner-1.13.0-py2.py3-none-any.whl (212kB)
     |████████████████████████████████| 215kB 32.6MB/s
Collecting google-cloud-pubsub<1.1.0,>=0.39.0; extra == "gcp"
  Downloading https://files.pythonhosted.org/packages/d3/91/07a82945a7396ea34debafd476724bb5fc267c292790fdf2138c693f95c5/google_cloud_pubsub-1.0.2-py2.py3-none-any.whl (118kB)
     |████████████████████████████████| 122kB 41.8MB/s
Collecting google-apitools<0.5.29,>=0.5.28; extra == "gcp"
  Downloading https://files.pythonhosted.org/packages/7f/32/df3e36fd705a00092f1ffa9f41ce1df8dcb594ae313d239b87861a41fc2e/google-apitools-0.5.28.tar.gz (172kB)
     |████████████████████████████████| 174kB 38.0MB/s
Collecting grpcio-gcp<1,>=0.2.2; extra == "gcp"
  Downloading https://files.pythonhosted.org/packages/ba/83/1f1095815be0de19102df41e250ebbd7dae97d7d14e22c18da07ed5ed9d4/grpcio_gcp-0.2.2-py2.py3-none-any.whl
Requirement already satisfied: google-cloud-bigquery<=1.24.0,>=1.6.0; extra == "gcp" in /usr/local/lib/python3.6/dist-packages (from apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (1.21.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn~=0.22.1->tapas==0.0.1.dev0) (0.16.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn~=0.22.1->tapas==0.0.1.dev0) (1.4.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow~=2.2.0->tapas==0.0.1.dev0) (3.3.0)
Requirement already satisfied: tensorflow-estimator<2.3.0,>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow~=2.2.0->tapas==0.0.1.dev0) (2.2.0)
Requirement already satisfied: tensorboard<2.3.0,>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow~=2.2.0->tapas==0.0.1.dev0) (2.2.2)
Requirement already satisfied: astunparse==1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow~=2.2.0->tapas==0.0.1.dev0) (1.6.3)
Requirement already satisfied: wheel>=0.26; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow~=2.2.0->tapas==0.0.1.dev0) (0.34.2)
Requirement already satisfied: keras-preprocessing>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow~=2.2.0->tapas==0.0.1.dev0) (1.1.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow~=2.2.0->tapas==0.0.1.dev0) (1.15.0)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow~=2.2.0->tapas==0.0.1.dev0) (1.12.1)
Requirement already satisfied: gast==0.3.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow~=2.2.0->tapas==0.0.1.dev0) (0.3.3)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow~=2.2.0->tapas==0.0.1.dev0) (0.9.0)
Requirement already satisfied: h5py<2.11.0,>=2.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow~=2.2.0->tapas==0.0.1.dev0) (2.10.0)
Requirement already satisfied: google-pasta>=0.1.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow~=2.2.0->tapas==0.0.1.dev0) (0.2.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow~=2.2.0->tapas==0.0.1.dev0) (1.1.0)
Collecting opencv-python-headless
  Downloading https://files.pythonhosted.org/packages/17/e4/a98a3c3098ea55b6ae193a1cd19a221dc3c1bde87a36db5550addc879d36/opencv_python_headless-4.3.0.36-cp36-cp36m-manylinux2014_x86_64.whl (36.4MB)
     |████████████████████████████████| 36.4MB 84kB/s
Requirement already satisfied: psutil>=5.4.3 in /usr/local/lib/python3.6/dist-packages (from tf-models-official~=2.2.0->tapas==0.0.1.dev0) (5.4.8)
Requirement already satisfied: google-api-python-client>=1.6.7 in /usr/local/lib/python3.6/dist-packages (from tf-models-official~=2.2.0->tapas==0.0.1.dev0) (1.7.12)
Requirement already satisfied: tensorflow-hub>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tf-models-official~=2.2.0->tapas==0.0.1.dev0) (0.8.0)
Requirement already satisfied: Cython in /usr/local/lib/python3.6/dist-packages (from tf-models-official~=2.2.0->tapas==0.0.1.dev0) (0.29.21)
Requirement already satisfied: tensorflow-datasets in /usr/local/lib/python3.6/dist-packages (from tf-models-official~=2.2.0->tapas==0.0.1.dev0) (2.1.0)
Collecting sentencepiece
  Downloading https://files.pythonhosted.org/packages/d4/a4/d0a884c4300004a78cca907a6ff9a5e9fe4f090f5d95ab341c53d28cbc58/sentencepiece-0.1.91-cp36-cp36m-manylinux1_x86_64.whl (1.1MB)
     |████████████████████████████████| 1.1MB 38.7MB/s
Collecting mlperf-compliance==0.0.10
  Downloading https://files.pythonhosted.org/packages/f4/08/f2febd8cbd5c9371f7dab311e90400d83238447ba7609b3bf0145b4cb2a2/mlperf_compliance-0.0.10-py3-none-any.whl
Requirement already satisfied: gin-config in /usr/local/lib/python3.6/dist-packages (from tf-models-official~=2.2.0->tapas==0.0.1.dev0) (0.3.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from tf-models-official~=2.2.0->tapas==0.0.1.dev0) (3.13)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from tf-models-official~=2.2.0->tapas==0.0.1.dev0) (3.2.2)
Collecting tensorflow-model-optimization>=0.2.1
  Downloading https://files.pythonhosted.org/packages/09/7e/e94aa029999ec30951e8129fa992fecbbaffda66eba97c65d5a83f8ea96d/tensorflow_model_optimization-0.3.0-py2.py3-none-any.whl (165kB)
     |████████████████████████████████| 174kB 40.7MB/s
Collecting py-cpuinfo>=3.3.0
  Downloading https://files.pythonhosted.org/packages/f6/f5/8e6e85ce2e9f6e05040cf0d4e26f43a4718bcc4bce988b433276d4b1a5c1/py-cpuinfo-7.0.0.tar.gz (95kB)
     |████████████████████████████████| 102kB 10.4MB/s
Collecting typing==3.7.4.1
  Downloading https://files.pythonhosted.org/packages/fe/2e/b480ee1b75e6d17d2993738670e75c1feeb9ff7f64452153cf018051cc92/typing-3.7.4.1-py3-none-any.whl
Requirement already satisfied: kaggle>=1.3.9 in /usr/local/lib/python3.6/dist-packages (from tf-models-official~=2.2.0->tapas==0.0.1.dev0) (1.5.6)
Requirement already satisfied: Pillow in /usr/local/lib/python3.6/dist-packages (from tf-models-official~=2.2.0->tapas==0.0.1.dev0) (7.0.0)
Requirement already satisfied: tensorflow-addons in /usr/local/lib/python3.6/dist-packages (from tf-models-official~=2.2.0->tapas==0.0.1.dev0) (0.8.3)
Requirement already satisfied: cloudpickle>=1.2.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow-probability==0.10.0->tapas==0.0.1.dev0) (1.3.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from tensorflow-probability==0.10.0->tapas==0.0.1.dev0) (4.4.2)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client<4,>=2.0.1->apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (0.4.8)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client<4,>=2.0.1->apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (0.2.8)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client<4,>=2.0.1->apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (4.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf<4,>=3.5.0.post1->apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (49.1.0)
Requirement already satisfied: docopt in /usr/local/lib/python3.6/dist-packages (from hdfs<3.0.0,>=2.1.0->apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (0.6.2)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from hdfs<3.0.0,>=2.1.0->apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (2.23.0)
Collecting pbr>=0.11
  Downloading https://files.pythonhosted.org/packages/96/ba/aa953a11ec014b23df057ecdbc922fdb40ca8463466b1193f3367d2711a6/pbr-5.4.5-py2.py3-none-any.whl (110kB)
     |████████████████████████████████| 112kB 38.9MB/s
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.6/dist-packages (from pydot<2,>=1.2.0->apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (2.4.7)
Requirement already satisfied: google-api-core[grpc]<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from google-cloud-videointelligence<1.14.0,>=1.8.0; extra == "gcp"->apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (1.16.0)
Collecting grpc-google-iam-v1<0.13dev,>=0.12.3
  Downloading https://files.pythonhosted.org/packages/65/19/2060c8faa325fddc09aa67af98ffcb6813f39a0ad805679fa64815362b3a/grpc-google-iam-v1-0.12.3.tar.gz
Collecting fasteners>=0.14
  Downloading https://files.pythonhosted.org/packages/18/bd/55eb2d6397b9c0e263af9d091ebdb756b15756029b3cededf6461481bc63/fasteners-0.15-py2.py3-none-any.whl
Requirement already satisfied: google-resumable-media!=0.4.0,<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.6/dist-packages (from google-cloud-bigquery<=1.24.0,>=1.6.0; extra == "gcp"->apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (0.4.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow~=2.2.0->tapas==0.0.1.dev0) (0.4.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow~=2.2.0->tapas==0.0.1.dev0) (1.7.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow~=2.2.0->tapas==0.0.1.dev0) (3.2.2)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow~=2.2.0->tapas==0.0.1.dev0) (1.0.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow~=2.2.0->tapas==0.0.1.dev0) (1.17.2)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.6.7->tf-models-official~=2.2.0->tapas==0.0.1.dev0) (3.0.1)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.6.7->tf-models-official~=2.2.0->tapas==0.0.1.dev0) (0.0.4)
Requirement already satisfied: attrs>=18.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-datasets->tf-models-official~=2.2.0->tapas==0.0.1.dev0) (19.3.0)
Requirement already satisfied: promise in /usr/local/lib/python3.6/dist-packages (from tensorflow-datasets->tf-models-official~=2.2.0->tapas==0.0.1.dev0) (2.3)
Requirement already satisfied: tensorflow-metadata in /usr/local/lib/python3.6/dist-packages (from tensorflow-datasets->tf-models-official~=2.2.0->tapas==0.0.1.dev0) (0.22.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from tensorflow-datasets->tf-models-official~=2.2.0->tapas==0.0.1.dev0) (4.41.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->tf-models-official~=2.2.0->tapas==0.0.1.dev0) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->tf-models-official~=2.2.0->tapas==0.0.1.dev0) (0.10.0)
Collecting dm-tree~=0.1.1
  Downloading https://files.pythonhosted.org/packages/16/48/10fb721334810081b7e6eebeba0d12e12126c76993e8c243062d2f56a89f/dm_tree-0.1.5-cp36-cp36m-manylinux1_x86_64.whl (294kB)
     |████████████████████████████████| 296kB 39.7MB/s
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle>=1.3.9->tf-models-official~=2.2.0->tapas==0.0.1.dev0) (2020.6.20)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle>=1.3.9->tf-models-official~=2.2.0->tapas==0.0.1.dev0) (4.0.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle>=1.3.9->tf-models-official~=2.2.0->tapas==0.0.1.dev0) (1.24.3)
Requirement already satisfied: typeguard in /usr/local/lib/python3.6/dist-packages (from tensorflow-addons->tf-models-official~=2.2.0->tapas==0.0.1.dev0) (2.7.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->hdfs<3.0.0,>=2.1.0->apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->hdfs<3.0.0,>=2.1.0->apache-beam[gcp]==2.20.0->tapas==0.0.1.dev0) (2.10)

# Fetch models fom Google Storage

Next we can get pretrained checkpoint from Google Storage. For the sake of speed, this is base sized model trained on [SQA](https://www.microsoft.com/en-us/download/details.aspx?id=54253). Note that best results in the paper were obtained with with a large model, with 24 layers instead of 12.

In [ ]:
! gsutil cp gs://tapas_models/2020_04_21/tapas_sqa_base.zip . && unzip tapas_sqa_base.zip

Copying gs://tapas_models/2020_04_21/tapas_sqa_base.zip...
/ [1 files][  1.0 GiB/  1.0 GiB]   19.9 MiB/s
Operation completed over 1 objects/1.0 GiB.
Archive:  tapas_sqa_base.zip
   creating: tapas_sqa_base/
  inflating: tapas_sqa_base/model.ckpt.data-00000-of-00001
  inflating: tapas_sqa_base/model.ckpt.index
  inflating: tapas_sqa_base/README.txt
  inflating: tapas_sqa_base/vocab.txt
  inflating: tapas_sqa_base/bert_config.json
  inflating: tapas_sqa_base/model.ckpt.meta

# Imports

In [ ]:
import tensorflow.compat.v1 as tf
import os 
import shutil
import csv
import pandas as pd
import IPython

tf.get_logger().setLevel('ERROR')

In [ ]:
from tapas.utils import tf_example_utils
from tapas.protos import interaction_pb2
from tapas.utils import number_annotation_utils
from tapas.scripts import prediction_utils

# Load checkpoint for prediction

Here's the prediction code, which will create and `interaction_pb2.Interaction` protobuf object, which is the datastructure we use to store examples, and then call the prediction script.

In [ ]:
os.makedirs('results/sqa/tf_examples', exist_ok=True)
os.makedirs('results/sqa/model', exist_ok=True)
with open('results/sqa/model/checkpoint', 'w') as f:
  f.write('model_checkpoint_path: "model.ckpt-0"')
for suffix in ['.data-00000-of-00001', '.index', '.meta']:
  shutil.copyfile(f'tapas_sqa_base/model.ckpt{suffix}', f'results/sqa/model/model.ckpt-0{suffix}')

In [ ]:
max_seq_length = 512
vocab_file = "tapas_sqa_base/vocab.txt"
config = tf_example_utils.ClassifierConversionConfig(
    vocab_file=vocab_file,
    max_seq_length=max_seq_length,
    max_column_id=max_seq_length,
    max_row_id=max_seq_length,
    strip_column_names=False,
    add_aggregation_candidates=False,
)
converter = tf_example_utils.ToClassifierTensorflowExample(config)

def convert_interactions_to_examples(tables_and_queries):
  """Calls Tapas converter to convert interaction to example."""
  for idx, (table, queries) in enumerate(tables_and_queries):
    interaction = interaction_pb2.Interaction()
    for position, query in enumerate(queries):
      question = interaction.questions.add()
      question.original_text = query
      question.id = f"{idx}-0_{position}"
    for header in table[0]:
      interaction.table.columns.add().text = header
    for line in table[1:]:
      row = interaction.table.rows.add()
      for cell in line:
        row.cells.add().text = cell
    number_annotation_utils.add_numeric_values(interaction)
    for i in range(len(interaction.questions)):
      try:
        yield converter.convert(interaction, i)
      except ValueError as e:
        print(f"Can't convert interaction: {interaction.id} error: {e}")
        
def write_tf_example(filename, examples):
  with tf.io.TFRecordWriter(filename) as writer:
    for example in examples:
      writer.write(example.SerializeToString())

def predict(table_data, queries):
  table = [list(map(lambda s: s.strip(), row.split("|"))) 
           for row in table_data.split("\n") if row.strip()]
  examples = convert_interactions_to_examples([(table, queries)])
  write_tf_example("results/sqa/tf_examples/test.tfrecord", examples)
  write_tf_example("results/sqa/tf_examples/random-split-1-dev.tfrecord", [])
  
  ! python tapas/tapas/run_task_main.py \
    --task="SQA" \
    --output_dir="results" \
    --noloop_predict \
    --test_batch_size={len(queries)} \
    --tapas_verbosity="ERROR" \
    --compression_type= \
    --init_checkpoint="tapas_sqa_base/model.ckpt" \
    --bert_config_file="tapas_sqa_base/bert_config.json" \
    --mode="predict" 2> error


  results_path = "results/sqa/model/test_sequence.tsv"
  all_coordinates = []
  df = pd.DataFrame(table[1:], columns=table[0])
  display(IPython.display.HTML(df.to_html(index=False)))
  print()
  with open(results_path) as csvfile:
    reader = csv.DictReader(csvfile, delimiter='\t')
    for row in reader:
      coordinates = prediction_utils.parse_coordinates(row["answer_coordinates"])
      all_coordinates.append(coordinates)
      answers = ', '.join([table[row + 1][col] for row, col in coordinates])
      position = int(row['position'])
      print(">", queries[position])
      print(answers)
  return all_coordinates

# Predict

In [ ]:
result = predict("""
code          | customer      | city          | working area | country  | grade
C00001        | Micheal       | New York      | New York     | USA      | 2     
C00013        | Holmes        | London        | London       | UK       | 2     
C00020        | Albert        | New York      | New York     | USA      | 3     
C00025        | Ravindran     | Bangalore     | Bangalore    | India    | 2     
C00024        | Cook          | London        | London       | UK       | 2     
C00015        | Stuart        | London        | London       | UK       | 1     
C00002        | Bolt          | New York      | New York     | USA      | 3     
C00018        | Fleming       | Brisban       | Brisban      | Australia| 2     
C00021        | Jacks         | Brisban       | Brisban      | Australia| 1     
C00019        | Yearannaidu   | Chennai       | Chennai      | India    | 1     
C00005        | Sasikant      | Mumbai        | Mumbai       | India    | 1     
C00007        | Ramanathan    | Chennai       | Chennai      | India    | 1     
C00022        | Avinash       | Mumbai        | Mumbai       | India    | 2     
C00004        | Winston       | Brisban       | Brisban      | Australia| 1     
C00023        | Karl          | London        | London       | UK       | 0     
C00006        | Shilton       | Torento       | Torento      | Canada   | 1     
C00010        | Charles       | Hampshair     | Hampshair    | UK       | 3     
C00017        | Srinivas      | Bangalore     | Bangalore    | India    | 2     
C00012        | Steven        | San Jose      | San Jose     | USA      | 1     
C00008        | Karolina      | Torento       | Torento      | Canada   | 1     
C00003        | Martin        | Torento       | Torento      | Canada   | 2     
C00009        | Ramesh        | Mumbai        | Mumbai       | India    | 3     
C00014        | Rangarappa    | Bangalore     | Bangalore    | India    | 2     
C00016        | Venkatpati    | Bangalore     | Bangalore    | India    | 2
C00011        | Sundariya     | Chennai       | Chennai      | India    | 3
""", ["what were the customer names?",
      "of these, who scored less that 2 grade?",
      "whose opening amount is highest?"])

is_built_with_cuda: True
is_gpu_available: True
GPUs: [PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]
Training or predicting ...
Evaluation finished after training step 0.

> what were the customer names?
Avinash, Yearannaidu, Albert, Shilton, Stuart, Steven, Jacks, Ramesh, Karl, Ramanathan, Sundariya, Cook, Holmes, Fleming, Martin, Srinivas, Sasikant, Venkatpati, Micheal, Winston, Bolt, Ravindran, Charles, Rangarappa, Karolina
> of these, who scored less that 2 grade?
Winston, Yearannaidu, Jacks, Shilton, Karl, Ramanathan, Sasikant, Stuart, Karolina, Steven
> whose opening amount is highest?
Steven

In [ ]:
result = predict("""
code          | customer      | city          | working area | country  | grade
C00001        | Micheal       | New York      | New York     | USA      | 2     
C00013        | Holmes        | London        | London       | UK       | 2     
C00020        | Albert        | New York      | New York     | USA      | 3     
C00025        | Ravindran     | Bangalore     | Bangalore    | India    | 2     
C00024        | Cook          | London        | London       | UK       | 2     
C00015        | Stuart        | London        | London       | UK       | 1     
C00002        | Bolt          | New York      | New York     | USA      | 3     
C00018        | Fleming       | Brisban       | Brisban      | Australia| 2     
C00021        | Jacks         | Brisban       | Brisban      | Australia| 1     
C00019        | Yearannaidu   | Chennai       | Chennai      | India    | 1     
C00005        | Sasikant      | Mumbai        | Mumbai       | India    | 1     
C00007        | Ramanathan    | Chennai       | Chennai      | India    | 1     
C00022        | Avinash       | Mumbai        | Mumbai       | India    | 2     
C00004        | Winston       | Brisban       | Brisban      | Australia| 1     
C00023        | Karl          | London        | London       | UK       | 0     
C00006        | Shilton       | Torento       | Torento      | Canada   | 1     
C00010        | Charles       | Hampshair     | Hampshair    | UK       | 3     
C00017        | Srinivas      | Bangalore     | Bangalore    | India    | 2     
C00012        | Steven        | San Jose      | San Jose     | USA      | 1     
C00008        | Karolina      | Torento       | Torento      | Canada   | 1     
C00003        | Martin        | Torento       | Torento      | Canada   | 2     
C00009        | Ramesh        | Mumbai        | Mumbai       | India    | 3     
C00014        | Rangarappa    | Bangalore     | Bangalore    | India    | 2     
C00016        | Venkatpati    | Bangalore     | Bangalore    | India    | 2
C00011        | Sundariya     | Chennai       | Chennai      | India    | 3
""", ["venkatapati belongs to which city?"])

is_built_with_cuda: True
is_gpu_available: True
GPUs: [PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]
Training or predicting ...
Evaluation finished after training step 0.

> venkatapati belongs to which city?
New York

In [ ]:
result = predict("""
code          | customer      | city          | working area | country  | grade
C00001        | Micheal       | New York      | New York     | USA      | 2     
C00013        | Holmes        | London        | London       | UK       | 2     
C00020        | Albert        | New York      | New York     | USA      | 3     
C00025        | Ravindran     | Bangalore     | Bangalore    | India    | 2     
C00024        | Cook          | London        | London       | UK       | 2     
C00015        | Stuart        | London        | London       | UK       | 1     
C00002        | Bolt          | New York      | New York     | USA      | 3     
C00018        | Fleming       | Brisban       | Brisban      | Australia| 2     
C00021        | Jacks         | Brisban       | Brisban      | Australia| 1     
C00019        | Yearannaidu   | Chennai       | Chennai      | India    | 1     
C00005        | Sasikant      | Mumbai        | Mumbai       | India    | 1     
C00007        | Ramanathan    | Chennai       | Chennai      | India    | 1     
C00022        | Avinash       | Mumbai        | Mumbai       | India    | 2     
C00004        | Winston       | Brisban       | Brisban      | Australia| 1     
C00023        | Karl          | London        | London       | UK       | 0     
C00006        | Shilton       | Torento       | Torento      | Canada   | 1     
C00010        | Charles       | Hampshair     | Hampshair    | UK       | 3     
C00017        | Srinivas      | Bangalore     | Bangalore    | India    | 2     
C00012        | Steven        | San Jose      | San Jose     | USA      | 1     
C00008        | Karolina      | Torento       | Torento      | Canada   | 1     
C00003        | Martin        | Torento       | Torento      | Canada   | 2     
C00009        | Ramesh        | Mumbai        | Mumbai       | India    | 3     
C00014        | Rangarappa    | Bangalore     | Bangalore    | India    | 2     
C00016        | Venkatpati    | Bangalore     | Bangalore    | India    | 2
C00011        | Sundariya     | Chennai       | Chennai      | India    | 3
""", ["who are the customers belong to India"])

is_built_with_cuda: True
is_gpu_available: True
GPUs: [PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]
Training or predicting ...
Evaluation finished after training step 0.

> who are the customers belong to India
Avinash, Yearannaidu, Ramesh, Ravindran, Srinivas, Ramanathan, Sasikant, Venkatpati, Sundariya, Rangarappa

In [ ]:
result = predict("""
code          | customer      | city          | working area | country  | grade
C00001        | Micheal       | New York      | New York     | USA      | 2     
C00013        | Holmes        | London        | London       | UK       | 2     
C00020        | Albert        | New York      | New York     | USA      | 3     
C00025        | Ravindran     | Bangalore     | Bangalore    | India    | 2     
C00024        | Cook          | London        | London       | UK       | 2     
C00015        | Stuart        | London        | London       | UK       | 1     
C00002        | Bolt          | New York      | New York     | USA      | 3     
C00018        | Fleming       | Brisban       | Brisban      | Australia| 2     
C00021        | Jacks         | Brisban       | Brisban      | Australia| 1     
C00019        | Yearannaidu   | Chennai       | Chennai      | India    | 1     
C00005        | Sasikant      | Mumbai        | Mumbai       | India    | 1     
C00007        | Ramanathan    | Chennai       | Chennai      | India    | 1     
C00022        | Avinash       | Mumbai        | Mumbai       | India    | 2     
C00004        | Winston       | Brisban       | Brisban      | Australia| 1     
C00023        | Karl          | London        | London       | UK       | 0     
C00006        | Shilton       | Torento       | Torento      | Canada   | 1     
C00010        | Charles       | Hampshair     | Hampshair    | UK       | 3     
C00017        | Srinivas      | Bangalore     | Bangalore    | India    | 2     
C00012        | Steven        | San Jose      | San Jose     | USA      | 1     
C00008        | Karolina      | Torento       | Torento      | Canada   | 1     
C00003        | Martin        | Torento       | Torento      | Canada   | 2     
C00009        | Ramesh        | Mumbai        | Mumbai       | India    | 3     
C00014        | Rangarappa    | Bangalore     | Bangalore    | India    | 2     
C00016        | Venkatpati    | Bangalore     | Bangalore    | India    | 2
C00011        | Sundariya     | Chennai       | Chennai      | India    | 3
""", ["Average of grade"])

is_built_with_cuda: True
is_gpu_available: True
GPUs: [PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]
Training or predicting ...
Evaluation finished after training step 0.

> Average of grade
2, 3, 1, 1, 1, 0, 1, 1, 3, 2, 3, 2, 2, 2, 2, 2, 3, 2, 1, 2, 3, 1, 2, 1, 1

In [ ]:
result = predict("""
code          | customer      | city          | working area | country  | grade
C00001        | Micheal       | New York      | New York     | USA      | 2     
C00013        | Holmes        | London        | London       | UK       | 2     
C00020        | Albert        | New York      | New York     | USA      | 3     
C00025        | Ravindran     | Bangalore     | Bangalore    | India    | 2     
C00024        | Cook          | London        | London       | UK       | 2     
C00015        | Stuart        | London        | London       | UK       | 1     
C00002        | Bolt          | New York      | New York     | USA      | 3     
C00018        | Fleming       | Brisban       | Brisban      | Australia| 2     
C00021        | Jacks         | Brisban       | Brisban      | Australia| 1     
C00019        | Yearannaidu   | Chennai       | Chennai      | India    | 1     
C00005        | Sasikant      | Mumbai        | Mumbai       | India    | 1     
C00007        | Ramanathan    | Chennai       | Chennai      | India    | 1     
C00022        | Avinash       | Mumbai        | Mumbai       | India    | 2     
C00004        | Winston       | Brisban       | Brisban      | Australia| 1     
C00023        | Karl          | London        | London       | UK       | 0     
C00006        | Shilton       | Torento       | Torento      | Canada   | 1     
C00010        | Charles       | Hampshair     | Hampshair    | UK       | 3     
C00017        | Srinivas      | Bangalore     | Bangalore    | India    | 2     
C00012        | Steven        | San Jose      | San Jose     | USA      | 1     
C00008        | Karolina      | Torento       | Torento      | Canada   | 1     
C00003        | Martin        | Torento       | Torento      | Canada   | 2     
C00009        | Ramesh        | Mumbai        | Mumbai       | India    | 3     
C00014        | Rangarappa    | Bangalore     | Bangalore    | India    | 2     
C00016        | Venkatpati    | Bangalore     | Bangalore    | India    | 2
C00011        | Sundariya     | Chennai       | Chennai      | India    | 3
""", ["country having more number of customers"])

is_built_with_cuda: True
is_gpu_available: True
GPUs: [PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]
Training or predicting ...
Evaluation finished after training step 0.

> country having more number of customers
USA, USA